{% extends 'base.html.twig' %}

{% block title %}Ana Sayfa{% endblock %}

{% block breadcrumb %}
    {% include 'partials/_breadcrumb.html.twig' with {
        items: [
            { label: 'Home' }
        ]
    } %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-2">
        <div class="list-group" id="category-list">
            <a
                href="{{ path('app_home') }}"
                class="list-group-item list-group-item-action active"
                id="all-products-link"
                data-products-url="{{ path('app_all_products') }}"
                data-category-name="Products"
                data-category-description=""
            >
                All Products
            </a>
            {% for category in categories %}
                <a
                    href="{{ path('app_category_show', {slug: category.slug}) }}"
                    class="list-group-item list-group-item-action category-link"
                    data-slug="{{ category.slug }}"
                    data-products-url="{{ path('app_category_products', {slug: category.slug}) }}"
                    data-category-name="{{ category.name }}"
                    data-category-description="{{ category.description|default('')|striptags|e('html_attr') }}"
                >
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-8">
        <h2 class="mb-3" id="category-title">Products</h2>
        <p class="text-muted d-none" id="category-description"></p>
        <div id="product-list">
            {% include 'category/_products.html.twig' with {'products': products} %}
        </div>
    </div>
</div>
{% endblock %}
